<div class="ui segment">
    <h3>Inbox</h3>
    <div class="ui list">
        <div class="item">
        <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id  %>
                <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
                <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            <p>
            <%= image_tag display_avatar(recipient), class: "ui avatar image" %>
            <%= link_to "#{recipient.first_name} #{recipient.last_name}", conversation_messages_path(conversation), class: bold_if_unread(conversation) %>
            </p>
            <br />
        <% end %>
        </div>
    </div>
</div>