<h3>Hey <%= @befriendee.first_name %>, <%= @befriender.first_name %> has sent you a friend request!</h3>

<p>You can view this friend request by logging into Odin FB and clicking on Friend Requests tab, or you can just <%= link_to "click here", friend_requests_url %> to go right to it, whatever.</p>

<p>Have a great day!</p>

<p>OdinFB team (me)</p>