<h3>Congratulations, <%= @inverse_friend.first_name %>!</h3>

<p><%= @friend.first_name %> has accepted the gift of your friendship! I mean, who wouldn't? Just look at you!</p>

<p>You can view your new and improved friend's list <%= link_to "here", friends_url %>. Have a great day!</p>

<p>OdinFB team (me)</p>