<h1>Friend Requests</h1>

<% unless @friend_requests.empty? %>
    <% @friend_requests.all.each do |request| %>
            <%= "#{request.befriender.first_name} wants to be friends!" %><br />
            <%= link_to "Accept", friendships_path(friend_id: current_user.id, inverse_friend_id: request.befriender.id), method: :post, class: "small ui left attached button" %>
            <%= link_to "Ignore", '#', class: "small ui right attached button" %>
    <% end %>
<% else %>
    <p>No requests at this moment.</p>
<% end %>