<h1>Your Posts</h1>

<div class="ui list">
<%= link_to "New Post", new_user_post_path %>
<% @posts.each do |post| %>
    <div><%= link_to "#{post.title}", user_post_path(post.user_id, post), class: "item" %> | <%= link_to "Edit", edit_user_post_path(post.user_id, post) %></div>
<% end %>
</div>
