<h1>Your Posts</h1>

<p><%= link_to "New Post", new_user_post_path %><p>
<div class="ui internally divided grid">
<% @posts.each do |post| %>
    <div class="row">
        <div class="five wide column"><%= link_to "#{post.title}", user_post_path(post.user_id, post) %></div> 
        <div class="two wide column"><%= link_to "Edit", edit_user_post_path(post.user_id, post) %></div> 
        <div class="two wide column"><%= link_to "Delete", '#' %></div>
    </div>
<% end %>
</div>
