@import "semantic-ui";
@import "semantic-ui/collections/menu";

/* page header */

#header-title {
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
}


/* body */

.ui.pointing.menu {
    border-bottom: 2px solid rgb(152, 213, 213);
}

.one-liner {
    display: table-row;
    div {
        display: table-cell;
        padding-right: 5px;
    }
}


/* conversations and messages */

#inbox_unread {
    background: rgb(152, 213, 213);
    font-weight: bold;

}

.unread_messages {
    font-weight: bold;
}

.text-box {
    width: 300px;
    height: 150px;
    margin-bottom: 10px;
}

/* posts and comments */

.large-text-box {
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
}

.post-container {
    position: relative;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 1px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 1px 0 rgba(34, 36, 38, 0.15);
    margin-bottom: 0.75em;
    padding: 20px;
    border-radius: 0.28571429rem 0.28571429rem 0 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

.post-comment-container {
    position: relative;
    -webkit-box-shadow: 0px 1px 1px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 1px 0 rgba(34, 36, 38, 0.15);
    border-radius: 0.28571429rem;
    border: 0.75px solid rgba(34, 36, 38, 0.15);
    padding-bottom: 20px;
    background: rgb(152, 213, 213)
}

#comment-container {
    padding: 0 5px;
    color: white;
    font-weight: bold;
}

.like-comment-links {
    padding: 0 10px 10px 10px;
    font-weight: bold;
    color: white;
    a {
        color: white;
    }
}

.left-link {
    position: relative;
    float: left;
}

.right-link {
    position: relative;
    float: right;
}

.italics-format {
    font-size: 11px;
    font-style: italic;
}

.comment-box {
    border: 2px solid rgb(183, 183, 197);
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}

.comment-box-1 {
    margin-left: 20px;
}

.comment-box-2 {
    margin-left: 40px;
}

.comment-box-3 {
    margin-left: 60px;
}

.comment-links {
    font-size: 12px;
}