@import "semantic-ui";
@import "semantic-ui/collections/menu";

/* page header */

#header-title {
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
}


/* body */

.ui.pointing.menu {
    border-bottom: 2px solid rgb(152, 213, 213);
}

.ui.right.vertical.menu {
    float: right;
    position: relative;
}


/* conversations and messages */

#inbox_unread {
    background: rgb(152, 213, 213);
    font-weight: bold;

}

.unread_messages {
    font-weight: bold;
}

.text-box {
    width: 300px;
    height: 150px;
    margin-bottom: 10px;
}

/* posts */

.large-text-box {
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
}